<!DOCTYPE html>
<html lang="en">
<head>
  <title>Revenue Share Contract</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
  </head>
<body>
<div class="jumbotron text-center">
  <h1>Revenue Share POC</h1>
  <p>Welcome User</p> 
</div>
  
<div class="container">
  <div class="row">
   <div class="col-sm-3">
   </div>
   
    
    <div class="col-sm-6">
      <div id="signup">
        <center>
        <form id="myform">
        <label for="inputName" class="control-label">Name</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="first_name" minlength="6" placeholder="User Name" class="form-control" id="susername">
        </div></br>
        


         <label for="inputEmail" class="control-label">Email</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="email" pattern="[^ @]*@[^ @]*" class="form-control" id="email" placeholder="Email"required>
        </div>
        </br>





        <label for="inputPassword" class="control-label">Password</label></br>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <input type="password" minlength="6" class="form-control" id="spassword" placeholder="Password">
        </div>
        <div class="help-block">Minimum of 6 characters</div>
        
       
        
        <button id="sbutton" class="btn btn-primary btn-lg" > SignUp 
        <span class="glyphicon glyphicon-send"></span>
        </button></br></br>
        
        <div id="slogin">
        <button id="logbut" type="button" class="btn btn-link" >Already have an account</button>
        </div>
        </form>
        </center>
      </div>

      <div id="login">
        <center>
        
        <label for="inputName" class="control-label">Email</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="email" placeholder="email" class="form-control" id="lemail" >
        </div></br>
        
        <label for="inputPassword" class="control-label">Password</label></br>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <input type="password"  class="form-control" id="lpassword" placeholder="Password" required>
        </div></br>
        
        <button id="lbutton" class="btn btn-primary btn-lg" > login 
        <span class="glyphicon glyphicon-send"></span>
        </button>
        
        </center>
      </div>

      <div id="wait">
        <center>
          <div class="loader" id="loading"></div>
        </center>
      </div>

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});
$( "#myform" ).validate({
  rules: {
    password: {
      required: true,
    }
  }
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    $("#wait").hide();
    $("#login").hide();
      

      $("#sbutton").click(function(){
        $("#wait").show();
        $("#signup").hide();
        var username=document.getElementById("susername").value;
        var email=document.getElementById("email").value;
         var password=document.getElementById("spassword").value;
        $.post("http://139.59.5.117:3000/userDetails",{ 
          "username":username,
          "email":email,
          "password":password 
        } , function(data, status){
            $("#wait").hide();
            $("#login").show();
          });
        });
      
      $("#lbutton").click(function(){
        $("#wait").show();
        $("#signup").hide();
        var email=document.getElementById("lemail").value;
        var password=document.getElementById("lpassword").value;
        $.post("http://139.59.5.117:3000/loginDetails",{ 
           "email":email,
           "password":password
        } , function(data){
            $("#wait").hide();
            console.log("data",data)
            if(data.status === 200){
              console.log(data);
              localStorage.setItem("mnemonic",data.data.plaintext);
              localStorage.setItem("balance",data.data.res);
              console.log(data.data.res);
              location.href="http://139.59.5.117:3000/index";
            }
          });
           
        });
      $("#logbut").click(function(){
        $("#signup").hide();
        $("#slogin").hide();
        $("#login").show();
        });
  
      });
</script>
</body>
</html>
