<!DOCTYPE html>
<html lang="en">
<head>
  <title>Revenue Share Contract</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
  </head>
<body>
<div class="jumbotron text-center">
  <h1>Revenue Share POC</h1>

  <label>Current Balance:
  </label>
  <p id="balance1"></p>
 
<div id="slogin" class="text-right">
  <button id="logout" type="button" class="btn btn-link" >Logout
  </button>
  </div>
</div>

  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <pre>
      <ul style="list-style-type:circle">
      <strong>Instructions to be followed</strong>
      
      
      <li>Enter Vendor1 Address</li>
      <li>Enter Vendor2 Address</li>
      <li>Submit your response</li>
      <li>Wait for the transaction to be mined</li>
      </ul>
     
      </pre>
    </div>
    <div class="col-sm-8">
      <div id="div1">
        <center>
        <label class="control-label"> Vendor1 Address </label>
        <input type="text" name="vendor1" id="vendor1" class="form-control"/></br>
        <label class="control-label"> Vendor2 Address </label>
        <input type="text" name="Vendor2" id="vendor2" class="form-control"/></br></br>
        <button id="button" class="btn btn-primary btn-lg" > Submit </button>
        </center>
      </div>

      <div id="wait">
        <center>
          <div class="loader" id="loading"></div>
        </center>
        <h1>Waiting for the transaction to be mined..!</h1>
      </div>

      <div id="result">
        <h1> Your Transaction has been successfully Completed...!</h1>
        <center>
        <div id="slogin">
        <button id="logbut" type="button" class="btn btn-link" ><h3>Make another transaction</h3></button>
        </div>
        </center>
      </div> 
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    $("#result").hide();
    $("#wait").hide();
    var balance = localStorage.getItem("balance");
    document.getElementById("balance1").innerHTML = balance;
      $("#button").click(function(){
        $("#div1").hide();
        $("#wait").show();;
  
        var _vendor1=document.getElementById("vendor1").value;
        var _vendor2=document.getElementById("vendor2").value;
        var mnemonic = localStorage.getItem("mnemonic");
         
        $.get("http://139.59.5.117:3000/revTransfer/"+_vendor1+'/'+_vendor2+'/'+mnemonic, function(data){
          console.log(data)
          localStorage.setItem("balance",data.balance)
          document.getElementById("balance1").innerHTML = data.balance;
          $("#result").show();
          $("#wait").hide();

          });
           
    });
      $("#logout").click(function(){
       location.href="http://139.59.5.117:3000/";
  
      });
            $("#logbut").click(function(){
       location.href="http://139.59.5.117:3000/index";
  
      });
     
  });

</script>
</body>
</html>
